<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
    
    <!-- Instrucción para indicar el nombre del servicio, la configuracion del comportamiento y definir el contrato-->
    <services>
      <service name="WCFSecurity.SecurityServices">
        <endpoint address="" behaviorConfiguration="WCFSecurity.SecurityServicesAspNetAjaxBehavior" binding="webHttpBinding" contract="WCFSecurity.SecurityServices" />
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        
        <behavior name="WCFSecurity.SecurityServicesAspNetAjaxBehavior">
          <enableWebScript />
          <!-- Instrucción para que reconozca automaticacmente el formato que llega (XML - JSON) y el cuerpo del mensaje llegue limpio-->
          <webHttp automaticFormatSelectionEnabled="true" defaultBodyStyle="Bare" />
        </behavior>
        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<connectionStrings><add name="SecurityModelEntities" connectionString="data source=(localdb)\.;initial catalog=DbSecurity;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="DbSecurityEntities" connectionString="metadata=res://*/Datos.SecurityModelEntities.csdl|res://*/Datos.SecurityModelEntities.ssdl|res://*/Datos.SecurityModelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\.;initial catalog=DbSecurity;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
